<section class="single-plant">
    
    <div class="plant-name">
        <h2><b>Name: </b>{{plant_info.name}}</h2>
    </div>
    <ul class="plant-info">
        <li><b>Type: </b>{{plant_info.type}}</li>
        <li><b>Sun Intake: </b>{{plant_info.sun_intake}}</li>
        <li><b>Water Intake: </b>{{plant_info.water_intake}}</li>
        <li><b>Soil Type: </b>{{plant_info.soil_type}}</li>
    </ul>
    <br>
    <div>
        <br>
        <a href="/plants">Return to plant list</a>
    </div>
   
</section>